<html>
    <head>
        <head>
            <meta charset="UTF-8">
            <meta name="viewport"
            content="width=device-width, initial-scale=1.0">
            <link rel="stylesheet" href="css/featured.css">
            <link
            href="https://fonts.googleapis.com/css2?
            family=Ubuntu+Mono&display=swap"
            rel="stylesheet">	
            <title>Foodies</title>
            <link rel="icon" href="img/f.png">
        </head>
    </head>
    <body>
        <h1 id="top3">Featured Products</h1>
	<div id="container4">
		<div id="row4">
            <img src="img/noodles.jpg" alt="">
			<button class="btn">CHOW MEIN</button>
		</div>
		<div id="row5">
            <img src="img/biryani.jpg" alt="">
			<button class="btn">BIRYANI</button>
		</div>
		<div id="row6">
            <img src="img/pasta.jpg" alt="">
			<button class="btn">PASTA</button>
		</div>
        <div id="row7">
            <img src="img/south.jpg" alt="">
			<button class="btn">DOSA</button>
		</div>
        <div id="row8">
            <img src="img/Kebab.jpg" alt="">
			<button class="btn">KEBAB</button>
		</div>
        <div id="row9">
            <img src="img/Crispycorn.jpg" alt="">
			<button class="btn">CRISPY CORN</button>
		</div>
	</div>
    </body>
    <footer class="footer">Copyright © 2020-2021 Foodies FoodShop.
		All Rights are reserved</footer>
</html>